<p id="notice"><%= notice %></p>

<h2><%= @cocktail.name %></h2>
<% @cocktail.doses.each do |dose|  %>
<p><%= dose.description  %></p>
<p><%= dose.ingredient.name %></p>
<%= link_to dose_path(dose), method: :delete, data: {confirm: "Are your sure?"} do %>
<i class="fas fa-trash-alt"></i>
<% end %>
<% end %>

<br>
<%= link_to 'Back', root_path %>
<br>
<%= link_to 'Add a dose', new_cocktail_dose_path(@cocktail.id) %>


